/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2015, 9:17:49 AM
    Author     : Hades
*/
body{
    margin: -5px;
    height: 100%;
    min-width: 1060px;
    padding: 0 0 0 0 !important;
}

@font-face {
    font-family: myFont;
    src: url(../font/Raleway-Bold.ttf);
}

#page{
    width: inherit;
    height: 100%;
    margin-top: 0px;
    background-color: #F8F0E4;
}

#header{
    border-top: 0px;
    width: inherit;
    height: available;
    background-color: #A3712A;
    margin-left: -1px;
    margin-top: -1px;
    margin-bottom: 1px;    
    color: #ffffff;
    padding-left: 30px;  
}

#title{
    padding: 20px;
    font-size: 30px;
    line-height: 25px;
    font-family: myFont;
}
#imageCSV, #imageCSV_on, #imageCSV_off{
    height: 110px;
    float:right;
}

#imageCSV_off, #imageCSV:hover #imageCSV_on{
   display:block;
}
#imageCSV_on, #imageCSV:hover #imageCSV_off{
   display:none;
}

#imageCSV_off:hover {
   display:none;
}
#imageCSV_on:hover{
   display:block;
}

#logo{
    padding: 0 0 0 0;
    height:110px;
    float:left;
}

#login{
    width: auto;
    float:right;
}

#login ul li a{
    color: black;
}

#mainmenu
{
	background:#A3712A repeat left top ;
        width: 200px;
        height: 100%;
        float: left;
        margin-left: -1px;
}

#mainmenu ul
{
	padding: 0px 0px 0px 0px;
}

#mainmenu ul li
{
	display: inline;
        font-family: myFont;        
}

#mainmenu ul li a
{
	color:#FFFFFF;
	background-color:transparent;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	padding:8px 8px;
        
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: #B4823B;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #ffffff;
	background-color:#B4823B;
	text-decoration:none;
        font-size:16px;
        -webkit-transition: font-size, 0.2s;
        -moz-transition: font-size, 0.2s;
        -o-transition: font-size, 0.2s;
        transition: font-size, 0.2s;
}

.nav{
    width:100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#content {
    float: left;
    width: calc(100% - 40px);
    min-width: 200px;
}

.myspan-center1{
    width: calc(100% - 280px - 200px - 62px);
    margin: 10px 10px 10px 10px !important;
    padding: 20px 20px 20px 20px;
    border: 1px solid #FFFFFF;
}

.myspan-center2{
    width: calc(100% - 280px - 200px - 62px);
    margin: 10px 10px 10px 10px !important;
    padding: 20px 20px 20px 20px;
    border: 1px solid #FFFFFF;
}

.myspan-last1{
    width: 270px;
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px;
}

.myspan-last2{
    width: 200px;
    margin: 00px 00px 00px 00px !important;
    padding: 0px 0px 0px 0px;
}

.breadcrumbs{
    float:left;
    width: 800px;
    padding-left: 10px;
}

.portlet
{

}

.portlet-decoration
{
	padding: 0px 0x;
	background: #A3712A;
	border-left: 5px solid #333333;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #ffffff;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 0 0;
	padding: 0px 0px;
	background:#B3813A;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 0px 0 0px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 0px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #fefefe;
	display: block;
	padding: 10px 10px 10px 20px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #ffffff;
}

.operations li a:hover
{
	background: #AAAAAA;
}

#sidebar1{
    padding: 10px 10px 10px 10px;
    background-color: #A3712A;
    color: #ffffff;
}

#sidebar2{
    padding: 0px 0px 0px 0px;
    background-color: #A3712A;
    color: #ffffff;
}

.place_input{
    width: 35px !important;
}

.delete{
    width: 10px;
    height: 10px;
    background-image: url(/images/X.png);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4px 6px 4px 6px;
}

select{
    width: auto !important;
}

.bootstrap-widget-table input{
    width: content-box;
}

.bootstrap-widget-table table{
    width: inherit;
}